dialog#launchModal {
  max-width: 400px;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  background: rgba(10, 10, 25, 0.459);
  color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.199);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  animation: fadeInScale 0.4s ease;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: rgba(10, 10, 25, 0.85);
  border: 2px solid #6c4eff;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 15px;
}

.close-btn:hover {
  background: #6c4eff;
  color: white;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

dialog#launchModal h2 {
  margin-top: 0;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

dialog#launchModal p {
  font-size: 0.6rem;
  margin: 1rem 1.5rem;
  color: #ccc;
}

dialog#launchModal form button {
  background-image: linear-gradient(315deg,#00aaff -10%,#7600ff 50%);
  border: 2px solid #6c4eff;
  color: #ffffff;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

dialog#launchModal form button:hover {
  background: #6c4eff;
  color: white;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-input {
  width: 80%;
  padding: 0.9rem 1rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 0rem;
  font-size: 1rem;
  background-color: #ffffff15;
  color: white;
  outline: none;
  border: 1px solid #6c4eff;
  backdrop-filter: blur(6px);
}

.modal-input::placeholder {
  color: #ccc;
}

.modal-actions {
  margin: auto;
  width: 90%;
  padding: 1.5rem 0 0 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cta-btn.outline {
  background: transparent;
  border: 2px solid #6c4eff;
  color: #6c4eff;
}

.cta-btn.outline:hover {
  background: #6c4eff;
  color: white;
}