@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

#bumper  {
  height: 100%;
  margin: 0;
  color: white;
  background: url('../assets/images/BG_\ LM\ 6.png') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* Contenedor general */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 80%;
}

/* Contenedor individual de producto */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Card visual */
.card {
  height: 50dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
}

.card .lines {
  position: absolute;
  inset: 0;
  /* background: transparent; */
  overflow: hidden;
  border-radius: 17px;
  /* background: #464646; */
}

.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 420px;
  background: linear-gradient(
    transparent,
    #00aaff,
    #7600ff,
    /* #4561ff,
    #ff4545, */
    transparent
  );
  animation: animate 3s linear infinite;
  transform-origin: 0 0;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  /* background: #292929; */
  border-radius: 17px;
}



/* .card::before,
.card::after {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: linear-gradient(var(--rotate), #00aaff , #7600ff, #4b4b4b, #4b4b4b);
  transform: scale(1);
  opacity: 1;
  animation: spin 3s linear infinite;
  filter: none; 
}


@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
} */


.card .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/images/dia1.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  width: 98%;
  height: 99%;
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
}

/* Capa difuminada encima de la imagen */
.card-overlay {
  display: grid;
  grid-template-rows: 15% 1fr 20%;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

/* Título y descripción */
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
    text-align: center;
  background: rgba(0, 0, 0, 0.068); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
}

.card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  background: rgba(0, 0, 0, 0.068); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
}


.product-card a{
  text-decoration: none;
  width: 100%;
}  

/* Botón */
.buy-btn {
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: 1.5px solid white;
  background: rgba(21, 21, 41, 0.404);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between; /* Distribuye texto e ícono */
  align-items: center;
  transition: transform 0.3s ease;
}

.buy-btn:hover {
  transform: scale(1.03);
  background: rgba(255, 255, 255, 0.13);
}

.btn-text {
  font-weight: bold;
}

.btn-icon {
  font-size: 1.2rem;
  padding-left: 8px;
}



/* Responsive */
@media (max-width: 1100px) {

    #bumper  {
          overflow: hidden;
          width: 100%;
      }

    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding: 1rem;
      width: 100%;
    }

    .card {
      height: 300px;
    }

    .product-card {
      gap: 1rem;
  }

    .buy-btn {
      height: 45px;
    }
}



@media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding: 1rem;
      width: 100%;
    }

    .card-overlay {
    grid-template-rows: 20% 1fr 30%;
  }

  .card-description {
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 300;
  }

    .card .inner {
    height: 98%;
  }

  /* Botón */
  .buy-btn {
    width: 100%;
    height: 50px;
    padding: 0 0.5rem;
    font-size: 0.8rem;

    transition: transform 0.3s ease;
  }

    .card {
      height: 250px;
    }

    .product-card {
      gap: 1rem;
  }

    .buy-btn {
      height: 45px;
    }

    .card-title {
    font-size: 0.8rem;
  }
  .btn-icon {
    font-size: 1.2rem;
    padding-left: 8px;
    font-weight: 100;
  }

}






@media (max-width: 500px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 0.3rem;
        width: 100%;

    }
    .card-description {
        padding: 0.2rem;
        font-size: 0.7rem;
        font-weight: 300;
    }
}
