.countdown {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    background: #1c1c38;
    padding: 1rem;
    border-radius: 10px;
    min-width: 100px;
}

.countdown-item span {
    font-size: 2rem;
    font-weight: 700;
    display: block;
}

.countdown-item label {
    font-size: 1rem;
    text-transform: uppercase;
}


@media (max-width: 768px) {
    .countdown {
    gap: 0.5rem;
  }

  .countdown-item {
    min-width: 80px;
  }

  #countdown label::before {
    content: attr(data-short); 
  }

  #countdown label {
    font-size: 0; 
  }

  #countdown label::before {
    font-size: 1rem;
    color: #ffffff;
  }

}