.card-usu {
  display: grid;
  grid-template-columns: 50% 50%;
  /* place-items: center; */
  width: 100%;
  height: 100%;
  /* perspective: 1000px; */
}


.medium {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}


.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.logo-image-welcome{
  max-height: 200px;
  object-fit: contain;
  margin-top: 1rem;
}


:root {
  --unit: 1vmin;
  --available-screen-min: 665;
  --px: calc(var(--zoom) * (var(--unit) / var(--available-screen-min)));
  --bg: #060809;
  --ticket: url(../assets/images/frontt.png);
  --ar: 10/30;
  --gutter: 8%;
  --zoom: 120;
  --green: #00FF88;
  --neon: #ff00ea;
  --o: 0;
  --p: 100%;
  --h: 50%;
  --r: 0deg;
}


#app {
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 50px;
  height: 100vh; /* usa altura completa */
}


/* ==== TICKET ROTATION ==== */
.ticket {
  width: calc(240 * var(--px)); /* más pequeño que 300 */
  aspect-ratio: var(--ar);
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transform: rotateY(var(--r));
}


/* === LUZ BRILLANTE === */


.front::before,
.back::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: var(--o);
  z-index: 5;
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.233) 40%,
    rgba(255, 255, 255, 0.459) 50%,
    rgba(255, 255, 255, 0.233) 40%,
    rgba(255, 255, 255, 0) 0%
  );
  background-size: 280% 100%;
  border-radius: inherit;
  mask-image: var(--ticket);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: var(--ticket);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.front::before {
  background-position: calc(100% - var(--p)) center; /* Invertido */
}

.back::before {
  background-position: var(--p) center; /* Normal */
}


/* Inversión para que uno funcione en ida y otro en regreso */
.ticket::before {
  transform: rotateY(0deg); /* se ve al inicio */
}
.ticket::after {
  transform: rotateY(360deg); /* se ve al voltearse */
}


/* === CARAS DEL TICKET === */
.face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: var(--ticket);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: var(--ticket);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.front,
.back {
  position: absolute; /* NO uses relative aquí */
  inset: 0;
  backface-visibility: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  z-index: 1;

  mask-image: var(--ticket);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: var(--ticket);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}


.front {
  background-image: url('../assets/images/frontt.png');
}

.back {
  background-image: url('../assets/images/back.png');
  transform: rotateY(180deg);
}


.name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(20 * var(--px));
  font-weight: 400;
  color: white;
  z-index: 10;
  text-align: center;
  pointer-events: none;
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.6); */
  white-space: nowrap;         
  overflow: hidden;            

  max-width: 90%;    
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 3rem;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: uppercase;
}



/* ==== HOLOGRAMA INTERIOR ==== */

@media (max-width: 2000px) {
  .name {
    top: 40.1%;
    font-size: 2.7rem;
  }
}



@media (max-width: 1700px) {
  .name {
    top: 38%;
  }
}



/* ==== RESPONSIVE ==== */
@media (max-width: 900px) {

  .name {
    top: 40.2%;
  }


  .card-usu {
    display: flex;
    flex-direction: column;
  }

  .logo-image-welcome {
    max-height: 120px;
    margin-top: 6rem;
  }

  .ticket {
    top: -10%;
    --scale: 1;
    width: 56vw;
    height: auto;
    
  }
}



@media (max-width: 800px) {

  .name {
    top: 40%;
    font-size: 2.8rem;
  }

}



@media (max-width: 800px) {

  .name {
    top: 40%;
    font-size: 2.8rem;
  }


}


@media (max-width: 730px) {

  .name {
    top: 39%;
    font-size: 2.8rem;
  }


  .logo-image-welcome {
    max-height: 120px;
    margin-top: 6rem;
  }



}


@media (max-width: 530px) {
  .name {
    top: 40.1%;
    font-size: 2.8rem;
  }

  .ticket {
    width: 80vw;
  }

}


@media (max-width: 430px) {
  .logo-image-welcome {
    max-height: 100px;
    margin-top: 2rem;
  }

  .name {
    top: 38.7%;
    font-size: 2.8rem;
  }

  .ticket {
    top: -17%;
    width: 80vw;
  }

}
